DATABASE_URL=mysql+mysqlconnector://usuario:contraseña@127.0.0.1:3306/nanda_diagnosticos

# Configuración JWT
SECRET_KEY=tu_super_secreto_aqui_para_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
